<a href="https://colab.research.google.com/github/nirmalaraj77/Python/blob/main/Introduction_to_Statistics_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Summary Statistics**

## **Descriptive Statistics**
* Describe and summarize data

## **Inferential Statistics**
* Use a sample of data to make inferences about a larger population

## **Numeric (Quantitative Data)**
* Summary statistics
* Scatterplots

### **Continous (Measured)**
* Airplane speed
* Time spent waiting in line

### **Discrete (Counted)**
* Number of pets
* Number of packages shipped

## **Categorical (Qualitative Data)**
* **Can be represented as numbers**
* **Does not make rthem numeric variables**
* Countplot
* Barplot

### **Nominal (Unordered)**
* Married / Unmarried (1 / 0)
* Country of residence (1, 2, 3, ...)

### **Ordinal (Ordered)**
* Survey question (Strongly disagree - 1 / Neither - 2 / Strongly agree - 3)

In [1]:
# import libraries and datasets
import pandas as pd
import numpy as np
import statistics


deals = pd.read_csv('https://raw.githubusercontent.com/nirmalaraj77/datasets/refs/heads/main/amir_deals.csv')
happiness = pd.read_csv('https://raw.githubusercontent.com/nirmalaraj77/datasets/refs/heads/main/world_happiness.csv')
food = pd.read_csv('https://raw.githubusercontent.com/nirmalaraj77/datasets/refs/heads/main/food_consumption.csv')

# **Measures of Center**

## **Mean**
* Average
* np.mean
* More sensitive to outliers

## **Median**
* Centre
* 50% | 50%
* sort and take middle
* np.median

## **Mode**
* Most frequent value
* statistics.mode
* Often used for categtrical variables

In [3]:
mean = np.mean(deals['amount'])
median = np.median(deals['amount'])
mode = statistics.mode(deals['amount'])

print(f"Mean: {mean} | Median: {median} | Mode: {mode}")

Mean: 4812.000337078652 | Median: 4805.1900000000005 | Mode: 7389.52

In [4]:
food

      Unnamed: 0     country food_category  consumption  co2_emission
0              1   Argentina          pork        10.51         37.20
1              2   Argentina       poultry        38.66         41.53
2              3   Argentina          beef        55.48       1712.00
3              4   Argentina     lamb_goat         1.56         54.63
4              5   Argentina          fish         4.36          6.96
...          ...         ...           ...          ...           ...
1425        1426  Bangladesh         dairy        21.91         31.21
1426        1427  Bangladesh         wheat        17.47          3.33
1427        1428  Bangladesh          rice       171.73        219.76
1428        1429  Bangladesh      soybeans         0.61          0.27
1429        1430  Bangladesh          nuts         0.72          1.27

[1430 rows x 5 columns]