<a href="https://colab.research.google.com/github/nirmalaraj77/Python/blob/main/Python_Notes_DataCamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functions
## - Call functions and save results to variables
## - syntax: output = function_name(input)
## - Call help on funcion syntax: help(function) or ?function

#Methods
##Call with Dot .
##Call help to find methods associated with the data type

#Libraries

##Import Libraries

In [ ]:
# Import Library   
import math 

# Import Library as alias   
import numpy as np  
import matplotlib.pyplot as plt

# Selective import  
from math import pi

#Variables and Types

##Assign Variables

In [ ]:
x = 5 # Variable Assignment   
y = 3 # Variable Assignment 

x, y = 5, 3 # Variable Assignment # Cleaner Code

## Calculate Variables ((Math operations highest to lowest)

In [ ]:
x ** y # Exponent
x % y # Modulus 
x // y # Integer division 
x / y # Division  
x * y # Multiply  
x - y # Substarct   
x + y # Sum

8

## Type Conversion

In [ ]:
# Variable to String  
str('5')  
str(2.444)  
str('Manual')  


## Variables to Integer  
int (1)  
int (2.7)  
int (True)  
int (False)  

# Variable to Float  
float (5)  
float ('1.7')  

# Variable to Boolean  
bool (True)  
bool (False)  
bool (1)  
bool(0)  
bool ('Amma@')
type (bool ('Amma'))

bool

#Strings

##String Operations

In [ ]:
my_string = 'This String is Awesome' # Assign variable to a str 

print (my_string * 3) # Multiply string

print (my_string + my_string) # Add strings

print (my_string, my_string) # Add strings # Cleaner Code

print (my_string + ' ' + 'is it not so?') # Add another string

print(my_string, ' ', 'is this new method?') # Add other strings # Cleaner Code 

print (len(my_string)) # String lenght

print (('S' in my_string)) # Boolean for string character

print (('y' in my_string)) # Boolean for string character

This String is AwesomeThis String is AwesomeThis String is Awesome
This String is AwesomeThis String is Awesome
This String is Awesome This String is Awesome
This String is Awesome is it not so?
This String is Awesome   is this new method?
22
True
False

##String Indexing and Subsetting 
## - Index starts at 0
## - Subset with Colon :
## - Subset end is not inclusive

In [ ]:
my_string = 'abcdefghij' #Assign string 

print (my_string [2]) # Character at position 3 

print (my_string [6 : 9]) # 3 characters at slice position 7-9 (9 not inclusive)

c
ghi

##String Methods

In [ ]:
my_string = '  this string is awesome  ' 

print (my_string.upper ()) # Uppercase

print (my_string.lower ()) # Lowercase

print (my_string.capitalize ()) # Capitalize 1st Caharacter

print (my_string.title ()) # Capitalise all words

print (my_string.count ('s')) # Count String Element

print (my_string.replace ('s', 'X')) # Replace String Element

print (my_string.strip ()) # Strip Whitespaces beginning and end

  THIS STRING IS AWESOME
  this string is awesome
  this string is awesome
  This String Is Awesome
4
  thiX Xtring iX aweXome
this string is awesome

#Lists

##Create List 
### - Use square brackets [ ]
### - Can have different Types

In [ ]:
# Area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

areas = [hall, kit, liv, bed, bath] # Create list areas
print (areas)

areas = ["hallway", True, hall, "kitchen",  1 > 2, kit, "living room", 1001, liv, "bedroom", bed, "bathroom", bath] # Create List with Different Types
print (areas)


# Assign variables
a = 'My' # Str
b = 5 # Int
c = 1.25 # Float
d = 1 > 2 # Boolean

my_list = [a, b, c, d] # Create List 
my_list2 = [a, b, c, d, ' !!!', 5/10] # Append Elemets 

print (my_list)
print (my_list2)

[11.25, 18.0, 20.0, 10.75, 9.5]
['hallway', True, 11.25, 'kitchen', False, 18.0, 'living room', 1001, 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
['My', 5, 1.25, False]
['My', 5, 1.25, False, ' !!!', 0.5]

##List of Lists
### - Can be any number of lists

In [ ]:
# Area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# House information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

print (house)
print (type (house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

##List Indexing and Slicing / Subsetting
### - Use  index to access list information in a list
### - Place index in square brackets [ ] 
### - First element has index 0, second element has index 1, and so on 
### - Slicing syntax list [start : end]
### - **Start index is included, end index is excluded**
### - No need to include index if slicing from first or last element
### - Start and end indexes are included if denoted with colons :

In [ ]:
l = ['p', 'q', 'r', 's', 't'] # Create list
print (l [4]) # Print 5th element

a = 'is'; b = 'nice'; my_list = ['my', 'list', 'xxx', a, b] # Create List # Cleaner Code
print (my_list [1]) # Print 2nd element 
print (my_list [-2]) # Print 2nd to last item from end

l = ['a' ,'b', 'c', 'd', 'e'] # Create list
print (l [1:3]) # Select elements 2-3 # Start index 1 is included, end index 3 is excluded
print (l [2:]) # Select elemets 3 - end # Start index 2 is included, end is denoted by colon : 
print (l [:2]) # Select elements start - 2 # Start index denoted by colon :, end index 2 is exluded

t
list
is
['b', 'c']
['c', 'd', 'e']
['a', 'b']

##Copy List
### - Copying a list will point to same list
### - Create new copy with list() or : for seperate list 
### - With Indexing / Slicing / Subsetting
### - Result is new list with selected elements

In [ ]:
l = ['p', 'q', 'r', 's', 't'] # Create list
l_copy = l # Create copy
del l_copy [2] # Delete index item in copy
print (l) # Original also changes
print (l_copy) # Because both point to same list

l = ['p', 'q', 'r', 's', 't'] # Create list
l1 = list (l) # Copy all indexes to new list with list()
l2 = l [:3] # # Copy index start - 2  to new list
print (l1)
print (l2)

['p', 'q', 's', 't']
['p', 'q', 's', 't']
['p', 'q', 'r', 's', 't']
['p', 'q', 'r']

##Subset List of Lists
### - Use square brackets [ ] 
### - Same rules for indexing and slicing

In [ ]:
my_list = [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]] # Create list of lists

x = [["a", "b", "c"], # Create list of lists # Cleaner Code
     ["d", "e", "f"],
     ["g", "h", "i"]] 

print (my_list [1][2]) 
print (my_list [0] [3:]) 
print (x[2] [0]) 
print (x[2] [:2])
print (x[1] [-2])

8
[4, 5]
g
['g', 'h']
e

##Replace List Elements

In [ ]:
x = ["a", "b", "c", "d"] # Create List
x[1] = "r" # Replace index 1  
x[2:] = ["s", "t"] # Replace index 2 - end
print (x)

['a', 'r', 's', 't']

##Extend List

In [ ]:
x = ["a", "b", "c", "d"] # Create list
y = x + ["e", "f"] # Add elements
print (y)

print (y + y) # Add list to list
print (y * 5) # Multiply list

['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f']

##Delete List Elements

In [ ]:
x = ["a", "b", "c", "d"] # Create list
del(x[1]) # Delete 1st index element
print (x)

['a', 'c', 'd']

##List Methods

In [ ]:
z = ['my', 'list', 'is', 'is', 'nice'] # Create List

print (z.index ('is')) # Get the first index of an item

print (z.count ('is')) # Count an item

z.append ('!!!') # Append an item at a time
print (z)

z.remove ('is') # Remove an item at a time
print (z)

z = ['my', 'list', 'is', 'is', 'nice'] # Create List for following exercises

del (z [-2]) # Remove items by indexing / slicing / subsetting
print (z)
       
z.extend ('2') # Extend list
print (z)

z.pop (-1) # Remove index item
print (z)

z.insert (-1, 'NOT') # Insert an item before index position
print (z)

z.sort() # Sort list
print (z)

z.sort (reverse = True) # Reverse Sort
print (z)

z.reverse () # Reverse list # Cleaner Code
print (z)

2
2
['my', 'list', 'is', 'is', 'nice', '!!!']
['my', 'list', 'is', 'nice', '!!!']
['my', 'list', 'is', 'nice']
['my', 'list', 'is', 'nice', '2']
['my', 'list', 'is', 'nice']
['my', 'list', 'is', 'NOT', 'nice']
['NOT', 'is', 'list', 'my', 'nice']
['nice', 'my', 'list', 'is', 'NOT']
['NOT', 'is', 'list', 'my', 'nice']