<a href="https://colab.research.google.com/github/nirmalaraj77/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**JOINING DATA WITH PANDAS**

In [16]:
# Import libraries and datasets

import pandas as pd

census = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/census.p')

wards = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/ward.p')

licenses = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/licenses.p')

biz_owners = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/business_owners.p')

cal = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/calendar.p')

ridership = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/ridership.p')

stations = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/stations.p')

zip_demo = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/zip_demo.p')

land_use = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/land_use.p')

actors = pd.read_csv('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/actors_movies.csv.xls')

movies = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/movies.p')

taglines = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/taglines.p')

financials = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/financials.p')

movie_to_genres = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/movie_to_genres.p')

crews = pd.read_pickle('https://raw.githubusercontent.com/nirmalaraj77/datasets/main/crews.p')

gdp = pd.read_csv('https://raw.githubusercontent.com/nirmalaraj77/datasets/2aa0493ec6cc102715dbfc5fdcdf64c576049b2c/WorldBank_GDP.csv.xls')

sp500 = pd.read_csv('https://raw.githubusercontent.com/nirmalaraj77/datasets/2aa0493ec6cc102715dbfc5fdcdf64c576049b2c/S&P500.csv.xls')

pop = pd.read_csv('https://raw.githubusercontent.com/nirmalaraj77/datasets/2aa0493ec6cc102715dbfc5fdcdf64c576049b2c/WorldBank_POP.csv.xls')

##**Notes**

* df.shape

* df.columns

* df['column'].value_counts

* df[['column']].head()

* pd.read_pickle

* \ line continuation as single line

* group by column and aggregate - grouped_df = df.groupby('column1').agg({'column2':'count'})

* group by column and sum - grouped_df = df.groupby('column1').sum

* count null - .isnull() method to return Boolean index if column is null and .sum() method to count Boolean index for number of True values - number_of_missing_df = df['col'].isnull().sum()

* group multiple df columns - enter as list to .groupby() method

* sort desending
* sorted_df = df.sort_values('columns', ascending=False)

* sort multiple df columns -  enter as list to .sort_values() method

* ascending argument accepts a list of Booleans

* if joining on different column names - left_on = 'col1', right_on = 'col2'

* **Create an index that returns true if name_1 or name_2 are null
m = ((iron_1_and_2['name_1'].isnull()) |
     (iron_1_and_2['name_2'].isnull()))**

* set index - pd.read_csv(csv_file, index_col=['col1', 'col2'])

* when sub-selecting the columns, input the desired columns as a list - new_df = df[['col1', 'col2', 'col3']]

* Using .isin() filter - popular_classic = classic_18_19[classic_18_19['tid'].isin(classic_pop['tid'])]

##**Inner Joins**

* Merge on common column name

* only returns matching values in both tables

* columns in 1st table comes first

* _x and _y - generated if common columns exist

* suffixes = argumnent to control _x and _y naming

In [ ]:
# Print shapes (number of rows and columns) and column names
print('wards: ' , wards.shape , wards.columns)
print('census: ' , census.shape, census.columns)

wards:  (50, 4) Index(['ward', 'alderman', 'address', 'zip'], dtype='object')
census:  (50, 6) Index(['ward', 'pop_2000', 'pop_2010', 'change', 'address', 'zip'], dtype='object')

In [ ]:
# Merge wards and census with suffixes
wards_census = wards.merge(census, on='ward', suffixes = ('_ward', '_census'))

print(wards_census.shape)
print (wards_census.columns)

(50, 9)
Index(['ward', 'alderman', 'address_ward', 'zip_ward', 'pop_2000', 'pop_2010',
       'change', 'address_census', 'zip_census'],
      dtype='object')

In [ ]:
# Count value of the change column
print(wards_census['change'].value_counts())

change
-8%     4
-6%     4
-4%     4
-5%     3
3%      3
-17%    2
-13%    2
-11%    2
-14%    2
-3%     2
0%      2
6%      2
-24%    2
5%      2
-33%    1
-20%    1
1%      1
-9%     1
-10%    1
-16%    1
8%      1
-1%     1
-7%     1
12%     1
31%     1
-15%    1
-18%    1
-2%     1
Name: count, dtype: int64

##**One-to-Many Relationships**

* every row in left table is related to one or more in right table

* resulting table has many rows from left table matching each value in right table

In [ ]:
# Merge wards with lecenses

wards_licenses = wards.merge(licenses, on='ward')

print(wards_licenses.shape)
print(wards_licenses.head(10))

(10000, 9)
  ward            alderman                  address_x  zip_x account  aid  \
0    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   12024  NaN
1    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   14446  743
2    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   14624  775
3    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   14987  NaN
4    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   15642  814
5    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   16004  NaN
6    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   16497  638
7    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   16547  763
8    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   16662  763
9    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   16899  775

                   business                   address_y  zip_y
0       DIGILOG ELECTRONICS          1038 N ASHLAND AVE  60622
1          EMPTY BOTTLE INC      1035 N WESTERN AVE 1ST  60622
2      LITTLE MEL'S HOT DOG       2205 N CALIFORNIA AVE  60647
3        MR. BROWN'S LOUNGE      2301 W CHICAGO AVE 1ST  60622
4              Beat Kitchen     2000-2100 W DIVISION ST  60622
5   EL NUEVO NARANJO LOUNGE    2210 N MILWAUKEE AVE 1ST  60647
6               BELLA NOTTE            1374 W GRAND AVE  60642
7      PETE'S FOOD & LIQUOR     2556 W ARMITAGE AVE 1ST  60647
8  BUCK TOWN FOOD & LIQUORS        1950 N MILWAUKEE AVE  60647
9              JACK'S PLACE  2917 W ARMITAGE AVE  GROUN  60647

In [ ]:
# Merge the licenses and biz_owners table on account
licenses_owners = licenses.merge(biz_owners, on='account')

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})

# Sort the counted_df in desending order
sorted_df = counted_df.sort_values('account', ascending=False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

##**Merging Multiple DataFrames**

* df1.merge(df2, on =['col', 'col'].merge(df2, on='col').merge(df3, on='col')...

* use \ python line continuation..

In [ ]:
# Find the total rides through Wilson Station in July 2019 in weekdays

# Merge the ridership, cal, and stations tables
ridership_cal_stations = ridership.merge(cal, on=['year','month','day']) \
							.merge(stations, on='station_id')

# Create a filter to filter ridership_cal_stations
filter_criteria = ((ridership_cal_stations['month'] == 7)
                   & (ridership_cal_stations['day_type'] == 'Weekday')
                   & (ridership_cal_stations['station_name'] == 'Wilson'))

# Use .loc and the filter to select for rides
print ('Total rides through Wilson Station in July 2019 in weekdays were : '\
 ,(ridership_cal_stations.loc[filter_criteria, 'rides'].sum()))

Total rides through Wilson Station in July 2019 in weekdays were :  140005

In [ ]:
# Merge licenses and zip_demo, on zip; and merge the wards on ward
licenses_zip_ward = licenses.merge(zip_demo, on='zip') \
            			.merge(wards, on='ward')

# Print the results by alderman and show median income
print(licenses_zip_ward.groupby('alderman').agg({'income':'median'}))

                             income
alderman
Ameya Pawar                 66246.0
Anthony A. Beale            38206.0
Anthony V. Napolitano       82226.0
Ariel E. Reyboras           41307.0
Brendan Reilly             110215.0
Brian Hopkins               87143.0
Carlos Ramirez-Rosa         66246.0
Carrie M. Austin            38206.0
Chris Taliaferro            55566.0
Daniel "Danny" Solis        41226.0
David H. Moore              33304.0
Deborah Mell                66246.0
Debra L. Silverstein        50554.0
Derrick G. Curtis           65770.0
Edward M. Burke             42335.0
Emma M. Mitts               36283.0
George Cardenas             33959.0
Gilbert Villegas            41307.0
Gregory I. Mitchell         24941.0
Harry Osterman              45442.0
Howard B. Brookins, Jr.     33304.0
James Cappleman             79565.0
Jason C. Ervin              41226.0
Joe Moore                   39163.0
John S. Arena               70122.0
Leslie A. Hairston          28024.0
Margaret Laurino            70122.0
Marty Quinn                 67045.0
Matthew J. O'Shea           59488.0
Michael R. Zalewski         42335.0
Michael Scott, Jr.          31445.0
Michelle A. Harris          32558.0
Michelle Smith             100116.0
Milagros "Milly" Santiago   41307.0
Nicholas Sposato            62223.0
Pat Dowell                  46340.0
Patrick Daley Thompson      41226.0
Patrick J. O'Connor         50554.0
Proco "Joe" Moreno          87143.0
Raymond A. Lopez            33959.0
Ricardo Munoz               31445.0
Roberto Maldonado           68223.0
Roderick T. Sawyer          32558.0
Scott Waguespack            68223.0
Susan Sadlowski Garza       38417.0
Tom Tunney                  88708.0
Toni L. Foulkes             27573.0
Walter Burnett, Jr.         87143.0
William D. Burns           107811.0
Willie B. Cochran           28024.0

In [ ]:
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'],
                                   as_index=False).agg({'account':'count'})

# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(['vacant', 'account', 'pop_2010'],
                                             ascending=[False, True, True])

# Print the top few rows of sorted_pop_vac_lic
print(sorted_pop_vac_lic.head())

   ward  pop_2010  vacant  account
47    7     51581      19       80
12   20     52372      15      123
1    10     51535      14      130
16   24     54909      13       98
7    16     51954      13      156

##**Left Join**

* all rows from left table and only matching rows from right table

* null values created for non-matches

* how = 'left'

* .isnull() method to return Boolean index if column is null

* .sum() method to count Boolean index for number of True values

* number_of_missing_df = df['col'].isnull().sum()

* one-to-many - if rows in left table match multiple rows in right table - all of those rows will be returned

. Therefore, the returned rows must be equal to if not greater than the left table. Knowing what to expect is useful in troubleshooting any suspicious merges.

In [ ]:
# Left join movies and taglines

movies_taglines = movies.merge(taglines, on='id', how='left')

print(movies_taglines.head())

      id                 title  popularity release_date  \
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17

                                           tagline
0                                              NaN
1             Never underestimate an overachiever.
2  Boys will be boys. . . some longer than others.
3          There's more to the story than you know
4                           A Pawsome 3D Adventure

In [ ]:
# Merge the movies table with the financials table with a left join
movies_financials = movies.merge(financials, on='id', how='left')

# Count the number of rows in the budget column that are missing
number_of_missing_fin = movies_financials['budget'].isnull().sum()

# Print the number of movies missing financials
print(number_of_missing_fin)

1574

##**Right Join**
 * all rows from right table and only matching rows from left table

 * mirror opposite of left join

 * how = 'right'

##**Outer Join**

* all rows returned from both tables

* null results whrn no match

* how = 'outer'

##**Self Join - Merging a Table to Itself**

* Same as other joins

In [ ]:
# Merge the crews table to itself
crews_self_merged = crews.merge(crews, on='id', how='inner',
                                suffixes=('_dir','_crew'))

# Create a boolean index to select the appropriate rows
boolean_filter = ((crews_self_merged['job_dir'] == 'Director') &
                  (crews_self_merged['job_crew'] != 'Director'))
direct_crews = crews_self_merged[boolean_filter]

# Print the first few rows of direct_crews
print(direct_crews.head())

        id department_dir   job_dir       name_dir department_crew  \
156  19995      Directing  Director  James Cameron         Editing
157  19995      Directing  Director  James Cameron           Sound
158  19995      Directing  Director  James Cameron      Production
160  19995      Directing  Director  James Cameron         Writing
161  19995      Directing  Director  James Cameron             Art

           job_crew          name_crew
156          Editor  Stephen E. Rivkin
157  Sound Designer  Christopher Boyes
158         Casting          Mali Finn
160          Writer      James Cameron
161    Set Designer    Richard F. Mays

##**Merging on Indexes**

* same as other joins

* index columns will be returnd as index

* new_df = df1.merge(df2, left_on='df1_index', left_index=True, right_on='df2_index', right_index=True)

##**Filtering Joins**

* filter observations from one table based on whether or not they match an observation in another table

###**Semi Join**

* returns intersection - simmilar to inner join

* return only columns from left table - NOT from right table

* no deuplicate rows even if there is a one-to-many relationship

* .isin  - returns Boolean

* 1st step - inner join tables
* genres_tracks = genres.merge(top_tracks, on = 'gid')

* 2nd step - code to compare every gid in genres table to gid in genres_track table and return boolean with .isin
genres['gid'].isin(genres_tracks['gid'])

* 3rd step - subset top_genres with boolean resulet and combine
* genres_tracks = genres.merge(top_tracks, on = 'gid')
* top_genres = genres[genres['gid'].isin(genres_tracks['gid'])]

##**Anti Join**

* returns observations in left table not in the right table

* return only columns from left table - NOT from right table

* 1st step - left join tables, set indicator = True

* indicator = True adds column called _merge (both, left only)

* genres_tracks = genres.merge(top_tracks, on='gid', how='left', indicator=True)

* 2nd step - use the loc accessor and _merge column to select rows only in left table

gid_list = genres_tracks.loc[genres_tracks['_merge] == 'left only', 'gid']

* 3rd step - use isin to filter rows

non_top_genres = genres[genres['gid'].isin(gid_list)]

##**Concatenate Dataframes Vertically**

* pandas.concat()

* axis=0, vertical

* ignore_index=True if index has no valuable information - index 0 to n-1

* pd.concat ([table1, table2, table3], ignore_index=True)

###**Set labels to original tables**

* ignore_index=False - keys argument

* results in multi-index table with label on 1st level

* pd.concat ([table1, table2, table3], ignore_index=False, keys=[table1, table2, table3])

###**Concatenate tables with different column names**

* include all columns in different tables

* sort argument will alphabetically sort

* pd.concat ([table1, table2, table3], sort=True)

* set join='inner' for only matching columns from different tables

* default is 'outer'

* sort has no effect whrn join='inner'

* pd.concat ([table1, table2, table3], join='inner')

##**Validate and Verify**

* columns may have duplicate data

* unintentional one-to-many relationship

* unintentional many-to-many relationship

###**Validate Merge**

* .merge(validate=None) - default

* 'one_to_one'

* 'one_to_many'

* 'many_to_one'

* 'many_to_many'

* raises merge error

###**Verify Concatenate**

* only checks index

* .concat(verify_integrity=False) - default

* verify_integrity= True - raises value error

##**merge_ordered()**

* merge time-series and other ordered data

* results are similar to standard merge method

* default is outer join

* results are sorted

* pd.merge_ordered(df1, df2)

* fill missing value with previous value - * forward fill

* fill_method='ffill'

* order is important when merging on more than 1 column

In [14]:
# Use merge_ordered() to merge gdp and sp500, and forward fill missing values
gdp_sp500 = pd.merge_ordered(gdp, sp500, left_on='Year', right_on='Date',
                             how='left',  fill_method='ffill')

# Subset the gdp and returns columns
gdp_returns = gdp_sp500[['GDP', 'Returns']]

# Print gdp_returns correlation
print (gdp_returns.corr())

              GDP   Returns
GDP      1.000000  0.040669
Returns  0.040669  1.000000

##**merge_asof()**

* similar to merge_ordered left join

* match nearest less than or equal value - not exact matches

* merged 'on' columns must be sorted

* pd.merge_asof(df1, df2)

* direction='backward' - default

* direction='forward' - matches greater than or equal to

* direction='nearest'- nearest row in right table (forward or backwards)