<a href="https://colab.research.google.com/github/nirmalaraj77/Python/blob/main/Python_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Class
##Defines New Class

In [ ]:
class Beer:
  def __init__(self) :
    self.content = 1.0
  def drink (self) :
    self.content = 0.0

becks = Beer() #Constructor - Create Class
becks.drink() #Beer empty: beer.content == 0

## ITERATORS

### An iterable is an object that can return an iterator, while an iterator is an object that keeps state and produces the next value when you call next() on it.

## ITERABLES 
### An object that has an associated iter () method
#### Applying iter() to an iterable creates an iterator
### Example: lists, strings, dicts, file connections 

## ITERATORS
#### An object that produces consequtive values with next ()

In [ ]:
# Iterate over string characters
for x in 'DocString':
	print (x)

D
o
c
S
t
r
i
n
g

In [ ]:
# Iterate over lists
family = ['Nirmal', 'Raji', 'Shana', 'Hari']
for members in family:
	print (members)

Nirmal
Raji
Shana
Hari

In [ ]:
# Iterate over special range objects 
for i in range(4):
	print (i)

0
1
2
3

In [ ]:
# Iterate over special range objects
for i in range (10, 21):
	print (i)

10
11
12
13
14
15
16
17
18
19
20

### ITERATING OVER ITERABLES: NEXT ()

In [ ]:
# Runs 1 by 1 until no iterators left
word = 'Daddy'
it = iter (word)

print (next(it))

print (next (it))

print (next (it))

print (next (it))

print (next (it))

D
a
d
d
y

### Iterating at once with Star or Splat *

In [ ]:
# Unpacks all elements of iterator
# Cannot run again as no more values - have to redefine
word = 'Data'
it = iter (word)
print (*it)

D a t a

### ITERAING OVER DICTINONARIES

In [ ]:
# To unpack 
family = {'father' : 'Nirmal', 'mother' : 'Raji', 'daughter' : 'Shana', 'son' : 'Hari'}
for X, value in family.items():
	print (key, value)

son Nirmal
son Raji
son Shana
son Hari

### ITERATING OVER FILE CONNECTIONS

In [ ]:
file = open ('G:\\My Drive\\PYTHON\\test.txt')
it = iter (file)
print (next (it))
print (next (it))
print (next (it))
print (next (it))

shana 2003

hari 2015

nirmal 1977

rsji 1983

### Functions that take iterators and iterables as arguments: list () and sum ()

In [ ]:
# Create list 
values = range(10, 21)
values_list = list(values)

print (values_list)

# Get Sum
values_sum = sum(values)
print (values_sum)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
165

## ENUMERATE 
### Add a counter to any iterable

In [ ]:
#Add a a counter to any iterable

avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
e = enumerate (avengers)
print (type(e))

<class 'enumerate'>

In [ ]:
# Can convert to list and return tuple of indexes and objects

e_list = list (e)
print (e_list)

[(0, 'hawkeye'), (1, 'iron man'), (2, 'thor'), (3, 'quicksilver')]

In [ ]:
#Enumerate is itself an iterable - can unpack

avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
for a, x in enumerate (avengers):
	print (a, x)

0 hawkeye
1 iron man
2 thor
3 quicksilver

In [ ]:
#Can unpack enumerate with any number (default = 0)

avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
for a, value in enumerate (avengers, start = 100):
	print (a, value)

100 hawkeye
101 iron man
102 thor
103 quicksilver

### Can use Splat *

In [ ]:
# can use Splat *

avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
z = enumerate (avengers, start = 222)
print (*z)

(222, 'hawkeye') (223, 'iron man') (224, 'thor') (225, 'quicksilver')

## Zip
### Stich together arbitary iterables - accepts arbitary number of iterables and returns an iterator of tuples

In [ ]:
# Stich together arbitary iterables - accepts arbitary number of iterables and returns an iterator of tuples

avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']

z = zip (avengers, names)

print (type(z))

z_list = list(z)

print (z_list)

<class 'zip'>
[('hawkeye', 'barton'), ('iron man', 'stark'), ('thor', 'odinson'), ('quicksilver', 'maximoff')]

In [ ]:
# Can convert to list and return tuple of keys and values

avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']

z = zip (avengers, names)

z_list = list(z)

print (z_list)

[('hawkeye', 'barton'), ('iron man', 'stark'), ('thor', 'odinson'), ('quicksilver', 'maximoff')]

In [ ]:
# Use for loop to iterate over zip objects and print tuples

avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']

for z1, z2 in zip(avengers, names):
	print (z1, z2)

hawkeye barton
iron man stark
thor odinson
quicksilver maximoff

### Use Splat *

In [ ]:
# Use Splat *

avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']

z = zip (avengers, names)

print (*z)

('hawkeye', 'barton') ('iron man', 'stark') ('thor', 'odinson') ('quicksilver', 'maximoff')

### There is no unzip function for reversing zip()
#### However, we can reverse what has been zipped by using zip() with a little help from * (Splat)
### Unpacks an iterable such as a list or a tuple into positional arguments in a function call

In [ ]:
#Create 2 lists
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']

# Zip the lists
z1 = zip (avengers, names)

#Unzip the tuples in z1 by unpacking with * and zip(): result1, result2
result1, result2 = zip(*z1)

#Print the unzipped tuples
print (result1)
print (result2)

# Check if unpacked tuples are equivalent to original tuples
print(result1 == avengers)
print(result2 == names)

('hawkeye', 'iron man', 'thor', 'quicksilver')
('barton', 'stark', 'odinson', 'maximoff')
False
False

# Using iterators to load large files into memory

# Solution: Load data in chunks

In [ ]:
#UseCase - Define Function to reuse 
#Extracting information for large amounts of Twitter data
url = 'https://raw.githubusercontent.com/nirmalaraj77/Python/516cd1f5b646c40c0165bd12620d47f51ec24248/tweets.csv' #Load Url Tweets.csv
import pandas as pd #Import Pandas

# Define count_entries()
def count_entries (csv_file, c_size, colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv (csv_file, chunksize = c_size):

        # Iterate over the column in DataFrame
        for entry in chunk [colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

# Call count_entries(): result_counts
result_counts = count_entries (url, 10, 'lang')

# Print result_counts
print(result_counts)

{'en': 97, 'et': 1, 'und': 2}

In [ ]:
#UseCase - Define Function to reuse 
#Extracting information for large amounts of Twitter data
url = 'https://raw.githubusercontent.com/nirmalaraj77/Python/516cd1f5b646c40c0165bd12620d47f51ec24248/tweets.csv' #Load Url Tweets.csv
import pandas as pd #Import Pandas
df = pd.read_csv (url)
print (df.head)

<bound method NDFrame.head of     contributors  coordinates                      created_at  \
0            NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
1            NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
2            NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
3            NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
4            NaN          NaN  Tue Mar 29 23:40:17 +0000 2016
..           ...          ...                             ...
95           NaN          NaN  Tue Mar 29 23:40:19 +0000 2016
96           NaN          NaN  Tue Mar 29 23:40:19 +0000 2016
97           NaN          NaN  Tue Mar 29 23:40:19 +0000 2016
98           NaN          NaN  Tue Mar 29 23:40:19 +0000 2016
99           NaN          NaN  Tue Mar 29 23:40:19 +0000 2016

                                             entities  \
0   {'hashtags': [], 'user_mentions': [{'screen_na...
1   {'hashtags': [{'text': 'cruzsexscandal', 'indi...
2   {'hashtags': [], 'user_mentions': [], 'symbols...
3   {'hashtags': [], 'user_mentions': [], 'symbols...
4   {'hashtags': [], 'user_mentions': [{'screen_na...
..                                                ...
95  {'hashtags': [], 'user_mentions': [{'screen_na...
96  {'hashtags': [], 'user_mentions': [], 'symbols...
97  {'hashtags': [{'text': 'NeverTrump', 'indices'...
98  {'hashtags': [], 'user_mentions': [], 'symbols...
99  {'hashtags': [], 'user_mentions': [{'screen_na...

                                    extended_entities  favorite_count  \
0   {'media': [{'sizes': {'large': {'w': 1024, 'h'...               0
1   {'media': [{'sizes': {'large': {'w': 500, 'h':...               0
2                                                 NaN               0
3                                                 NaN               0
4                                                 NaN               0
..                                                ...             ...
95                                                NaN               0
96                                                NaN               0
97                                                NaN               0
98                                                NaN               0
99                                                NaN               0

    favorited filter_level  geo                  id  ...  quoted_status_id  \
0       False          low  NaN  714960401759387648  ...               NaN
1       False          low  NaN  714960401977319424  ...               NaN
2       False          low  NaN  714960402426236928  ...               NaN
3       False          low  NaN  714960402367561730  ...      7.149239e+17
4       False          low  NaN  714960402149416960  ...               NaN
..        ...          ...  ...                 ...  ...               ...
95      False          low  NaN  714960410345136129  ...               NaN
96      False          low  NaN  714960410181570560  ...      7.149602e+17
97      False          low  NaN  714960410332377088  ...               NaN
98      False          low  NaN  714960410181570560  ...      7.149602e+17
99      False          low  NaN  714960410194018304  ...      7.149254e+17

   quoted_status_id_str  retweet_count  retweeted  \
0                   NaN              0      False
1                   NaN              0      False
2                   NaN              0      False
3          7.149239e+17              0      False
4                   NaN              0      False
..                  ...            ...        ...
95                  NaN              0      False
96         7.149602e+17              0      False
97                  NaN              0      False
98         7.149602e+17              0      False
99         7.149254e+17              0      False

                                     retweeted_status  \
0   {'retweeted': False, 'text': ".@krollbondratin...
1   {'retweeted': False, 'text': '@dmartosko Cruz ...
2                                                 NaN
3                                                 NaN
4   {'retweeted': False, 'text': 'The anti-America...
..                                                ...
95  {'retweeted': False, 'lang': 'en', 'favorite_c...
96                                                NaN
97  {'retweeted': False, 'text': "Seriously can't ...
98                                                NaN
99                                                NaN

                                               source  \
0   <a href="http://twitter.com" rel="nofollow">Tw...
1   <a href="http://twitter.com" rel="nofollow">Tw...
2   <a href="http://www.facebook.com/twitter" rel=...
3   <a href="http://twitter.com/download/android" ...
4   <a href="http://twitter.com/download/iphone" r...
..                                                ...
95  <a href="http://twitter.com/download/iphone" r...
96  <a href="http://twitter.com" rel="nofollow">Tw...
97  <a href="http://twitter.com/download/iphone" r...
98  <a href="http://twitter.com" rel="nofollow">Tw...
99  <a href="http://twitter.com/download/iphone" r...

                                                 text   timestamp_ms  \
0   RT @bpolitics: .@krollbondrating's Christopher...  1459294817758
1   RT @HeidiAlpine: @dmartosko Cruz video found.....  1459294817810
2   Njihuni me Zonjën Trump !!! | Ekskluzive https...  1459294817917
3   Your an idiot she shouldn't have tried to grab...  1459294817903
4   RT @AlanLohner: The anti-American D.C. elites ...  1459294817851
..                                                ...            ...
95  RT @claytoncubitt: Stop asking Bernie supporte...  1459294819805
96  Kasich is gonna fuck this up for Ted Cruz  htt...  1459294819766
97  RT @akaMaude13: Seriously can't make this up. ...  1459294819802
98  Kasich is gonna fuck this up for Ted Cruz  htt...  1459294819766
99  @marklevinshow try reporting this truth. https...  1459294819769

   truncated                                               user
0      False  {'utc_offset': 3600, 'profile_image_url_https'...
1      False  {'utc_offset': None, 'profile_image_url_https'...
2      False  {'utc_offset': 7200, 'profile_image_url_https'...
3      False  {'utc_offset': None, 'profile_image_url_https'...
4      False  {'utc_offset': -18000, 'profile_image_url_http...
..       ...                                                ...
95     False  {'utc_offset': None, 'profile_image_url_https'...
96     False  {'utc_offset': -18000, 'profile_image_url_http...
97     False  {'utc_offset': None, 'profile_image_url_https'...
98     False  {'utc_offset': -18000, 'profile_image_url_http...
99     False  {'utc_offset': -21600, 'profile_image_url_http...

[100 rows x 31 columns]>

# List Comprehensions
### - Can write over any iterable
### - Collapse for loops for buildinbg lists into a single line
### - Components
#### * Iterable
#### * Iterator Variable (represent members of iterable)
#### * Output expression
#### - Syntax [output expression for Iterator variable in Iterable]

## For loop and list comprehension syntax

In [ ]:
#For loop and list comprehension syntax
nums = [12, 8, 21,3, 16]
new_nums = [num + 1 for num in nums]
print (new_nums)

#Cleaner Code
print ([num + 1 for num in [12, 8, 21, 3, 16]])

#If done in for loop way
nums = [12, 8, 21,3, 16]
new_nums = []
for num in nums:
  new_nums.append (num + 1)
print (new_nums)

[13, 9, 22, 4, 17]
[13, 9, 22, 4, 17]
[13, 9, 22, 4, 17]

## List comprehension with range

In [ ]:
#List comprehension with range
result = [num for num in range (11)]
print (result)

#Cleaner Code
print ([num for num in range (11)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Use nested loops

In [ ]:
#Can use nested loops

#Example - Create list of all pairs of integers where first integer between 0 and 1 and second integer between 6 and 7

#If done in for loop way
pairs_1 = []
for num1 in range (0, 2):
  for num2 in range (6, 8):
    pairs_1.append ((num1, num2))
print (pairs_1)

#If done in List Comprehensions way
pairs_2 = [(num1, num2) for num1 in range (0, 2) for num2 in range (6, 8)]
print (pairs_2)

[(0, 6), (0, 7), (1, 6), (1, 7)]
[(0, 6), (0, 7), (1, 6), (1, 7)]

## Nested Loop within nested Loop Example
## Create a 5 x 5 matrix using a list of lists between integers 0 - 4

In [ ]:
#Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(5)] for row in range(5)]

#Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

# Conditionals in Comprehensions

## Conditionals on the Iterable
### Syntax [ output expression for iterator variable in iterable if predicate expression ].

In [ ]:
#Conditionals on the Iterable
#List of squared values in integers 0 - 9 if even 
[num **2 for num in range (10) if num % 2 == 0]

[0, 4, 16, 36, 64]

## Conditionals on the iterable Example with IF
### Print members of fellowship with 7 or more characters

In [ ]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [member for member in fellowship if len(member)>= 7]

# Print the new list
print(new_fellowship)

['samwise', 'aragorn', 'legolas', 'boromir']

## Conditionals on the output list comprehension expression

In [ ]:
#Conditionals on the output expression
#List of squared values in integers 0 - 9 if even 
[num **2 if num % 2 == 0 else 0 for num in range (10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

## Conditionals on the output expression Example usining IF-ELSE on the output expression
### Print members of fellowship with 7 or more characters
### Replace others with empty string

In [ ]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [member if len(member) >=7 else '' for member in fellowship]

# Print the new list
print(new_fellowship)

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

# Dictionary Comprehensions
## Use Curly braces {}
## Key and value seperated by colon:

In [ ]:
#Create a Dictionary with Key of positive integers and Value of respective negative integers between 0 - 8
pos_neg = {num: -num for num in range (9)}
print (pos_neg)
print (type(pos_neg))

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8}
<class 'dict'>

## Dict Comprehensions Example 
### Create Dict with fellowship members as key and length of string as corresponding value

In [ ]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create dict comprehension: new_fellowship
new_fellowship = {member: len (member) for member in fellowship}

# Print the new dictionary
print(new_fellowship)

{'frodo': 5, 'samwise': 7, 'merry': 5, 'aragorn': 7, 'legolas': 7, 'boromir': 7, 'gimli': 5}

# Generator Expressions

## List Comprehensions vs Generators

### - List Comprehension - returns a list
### - Generators - returns a generator object 
### - Can be only used once - not stored in memory
### - Both can be iterated over

In [ ]:
# List comprehension
print ([2 * num for num in range (10)])

#Use () instead of []
(2 * num for num in range (10))

#Smilar in syntax except parentheses () in generator expressions and brackets [] in list comprehensions

# List of strings
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# List comprehension
fellow1 = [member for member in fellowship if len(member) >= 7]

# Generator expression
fellow2 = (member for member in fellowship if len(member) >= 7)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## Printing values from Generators

In [ ]:
#Generate an expression integers between 0 - 5
#Produces the elements 
result = (num for num in range(6))
for x in result:
  print (x)

#Pass generator to List to create list
result = (num for num in range (6))
print (list(result))

#Pass generator to Next to iterate through elements
result = (num for num in range (6))
print (next(result))
print (next(result))
print (next(result))
print (next(result))
print (next(result)) 

#Pass to for loop to print results from the Generator object
for x in result:
  print (x)

#Lazy Evaluation - Evaluation of expresion is delayed until value is needed
#Some lists are too large to be stored in memory, but can be analogus created with a generator
(num for num in range (10 ** 1000000))

#Can be used to filter and run conditionals 
even_nums = (num for num in range (10) if num % 2 == 0)
print (list(even_nums))

0
1
2
3
4
5
[0, 1, 2, 3, 4, 5]
0
1
2
3
4
5
[0, 2, 4, 6, 8]

## Generator Functions
### - Produces Generator objects when called
### - Defined like a regular funcion - def
### - Yields a sequence of values instead of a single value like a regular funcion
### - Generates a value with keyword - yield

In [ ]:
#Build a Generator Function

#Define generator function to call integers 0 - n when called with n
def num_sequence(n):
  '''Generates values from 0 to n.'''
  i = 0 
  while i <= n:
    yield i
    i += 1

#Print elements from Generator object
result = num_sequence (12)
print (type(result))
for x in result:
  print (x)

<class 'generator'>
0
1
2
3
4
5
6
7
8
9
10
11
12

## Generator function example
### Generator function that yields the length of the strings in input_list

In [ ]:
# Create a list of strings
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Define generator function get_lengths
def get_lengths(input_list):
    """Generator function that yields the
    length of the strings in input_list."""

    # Yield the length of a string
    for person in input_list:
        yield len(person)

# Print the values generated by get_lengths()
for value in get_lengths (lannister):
    print(value)

6
5
5
6
7

## Conditionals on the output generator expression

In [ ]:
#Conditionals on the output generator expression

# Create a list of strings: lannister
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

# Create a generator object: lengths
lengths = (len(person) for person in lannister)

# Iterate over and print the values in lengths
for value in lengths:
    print(value)

6
5
5
6
7