<a href="https://colab.research.google.com/github/nirmalaraj77/Python/blob/main/Streamlined%20Data%20Ingestion%20with%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Streamlined Data Ingestion with pandas**

##**Notes**

### **Plot the total number of tax returns by income group**
* counts = data.groupby("agi_stub").N1.sum()
* counts.plot.bar()
* plt.show()

### **View counts of dependents and tax returns by income level**
* print(data.groupby("agi_stub").sum())

### **check if 2 dfs are equal**
* tax_data_v1.equals(tax_data_v2)

###**find data with NA values**
* print(tax_data[tax_data.zipcode.isna()])

### **View Unique years in data**
* print(all_responses.Year.unique())

### **Graph where people would like to get a developer job**
* job_prefs = responses_2017.groupby("JobPref").JobPref.count()
* job_prefs.plot.barh()
* plt.show()

### **Count true values**
* df.sum()

### **Count NAs**
* df.isna().sum()

### **Print first few values of Part1StartTime**
* print(survey_data.Part1StartTime.head())

### **Printing the dataframe's column names**
* print(list(df_name))

In [1]:
#  load pandas and df
import pandas as pd

vermont_url = 'https://assets.datacamp.com/production/repositories/4412/datasets/61bb27bf939aac4344d4f446ce6da1d1bf534174/vt_tax_data_2016.csv'
free_code_camp_url = 'https://assets.datacamp.com/production/repositories/4412/datasets/fdb113aa942a0e0ad5c155b2f04784886f0038c9/fcc-new-coder-survey.xlsx'
nyc_weather_url = 'https://github.com/nirmalaraj77/datasets/blob/main/data.db'

##**CSV and TSV Flat Files**
* Load pandas
* Import files
* Use sep = '\t' for TSV

## **Modify flat file imports**

### **limit columns - usecols**
* accepts list of col numbers, names or function

### **limit rows - nrows and skiprows**
* accepts list of row numbers, number of rows or function
* set header =None so pandas knows there are no column names
* get rows 1000 to 1500
* df = pd.read_csv ('xxx.csv', nrows = 1000, skiprows = 1000, header=None)

### **assign column names**
* names argument
* list MUST include name for every column
* can get list from previous df to reuse -> col_names = list(df)

In [6]:
# load vermont db
import pandas as pd
vermont = pd.read_csv(vermont_url)

# find shape
print(vermont.shape)

# get col names
col_names = list(vermont)
print(col_names)

# load 1000 - 1250 rows with column names
vermont_1000_1250 = pd.read_csv(vermont_url, nrows = 251, skiprows = 1000, header=None, names = col_names)
print(vermont_1000_1250.head())

# print dtypes
print(vermont_1000_1250.dtypes)

(1476, 147)
['STATEFIPS', 'STATE', 'zipcode', 'agi_stub', 'N1', 'mars1', 'MARS2', 'MARS4', 'PREP', 'N2', 'NUMDEP', 'TOTAL_VITA', 'VITA', 'TCE', 'VITA_EIC', 'RAL', 'RAC', 'ELDERLY', 'A00100', 'N02650', 'A02650', 'N00200', 'A00200', 'N00300', 'A00300', 'N00600', 'A00600', 'N00650', 'A00650', 'N00700', 'A00700', 'N00900', 'A00900', 'N01000', 'A01000', 'N01400', 'A01400', 'N01700', 'A01700', 'SCHF', 'N02300', 'A02300', 'N02500', 'A02500', 'N26270', 'A26270', 'N02900', 'A02900', 'N03220', 'A03220', 'N03300', 'A03300', 'N03270', 'A03270', 'N03150', 'A03150', 'N03210', 'A03210', 'N03230', 'A03230', 'N03240', 'A03240', 'N04470', 'A04470', 'A00101', 'N17000', 'A17000', 'N18425', 'A18425', 'N18450', 'A18450', 'N18500', 'A18500', 'N18800', 'A18800', 'N18300', 'A18300', 'N19300', 'A19300', 'N19500', 'A19500', 'N19530', 'A19530', 'N19550', 'A19550', 'N19570', 'A19570', 'N19700', 'A19700', 'N20800', 'A20800', 'n21020', 'a21020', 'N04800', 'A04800', 'N05800', 'A05800', 'N09600', 'A09600', 'N05780', 'A05780', 'N07100', 'A07100', 'N07300', 'A07300', 'N07180', 'A07180', 'N07230', 'A07230', 'N07240', 'A07240', 'N07220', 'A07220', 'N07260', 'A07260', 'N09400', 'A09400', 'N85770', 'A85770', 'N85775', 'A85775', 'N09750', 'A09750', 'N10600', 'A10600', 'N59660', 'A59660', 'N59720', 'A59720', 'N11070', 'A11070', 'N10960', 'A10960', 'N11560', 'A11560', 'N06500', 'A06500', 'N10300', 'A10300', 'N85530', 'A85530', 'N85300', 'A85300', 'N11901', 'A11901', 'N11902', 'A11902']
   STATEFIPS STATE  zipcode  agi_stub   N1  mars1  MARS2  MARS4  PREP   N2  \
0         50    VT     5730         4   20      0      0      0    40   40
1         50    VT     5730         5   30      0     30      0     0   70
2         50    VT     5730         6    0      0      0      0     0    0
3         50    VT     5732         1  200    150     30     30   100  260
4         50    VT     5732         2  120     70     30      0    60  200

   ...  N10300  A10300  N85530  A85530  N85300  A85300  N11901  A11901  \
0  ...       0       0       0       0       0       0       0       0
1  ...      30    1046       0       0       0       0       0       0
2  ...       0       0       0       0       0       0       0       0
3  ...     110     104       0       0       0       0      20      20
4  ...     110     294       0       0       0       0       0       0

   N11902  A11902
0       0       0
1      20      71
2       0       0
3     160     250
4     110     215

[5 rows x 147 columns]
STATEFIPS     int64
STATE        object
zipcode       int64
agi_stub      int64
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 147, dtype: object

##**Error Handling**

###**Specify data types**

* dtype - takes dictionary of column name and data type
* non-standard dtypes like pandas categories must be passed in quotations

###**Customize missing data values**

* na_values - takes single value, list or dict of colmns and values

###**Lines with errors**

* try - except
* error_bad_lines=False - skip unparsable records
* warn_bad_lines=True - see messages when records are skipped

In [ ]:
# find vermont dtypes
print(vermont.dtypes)

# set dict to change zipcode and agi_stub columns dtypes
data_types = {'agi_stub':'category',
			  'zipcode' : 'str'}

# load vermont csv specifying types
vermont = pd.read_csv(vermont_url, dtype = data_types)

# find vermont dtypes again
print(vermont.dtypes.head())

In [ ]:
# Create dict specifying that 0s in zipcode are NA values
null_values = {'zipcode': 0}

# Load csv using na_values keyword argument
vermont = pd.read_csv(vermont_url,
                   na_values = null_values)

# View rows with NA ZIP codes
print(vermont[vermont.zipcode.isna()])

In [ ]:
try:
  # Set warn_bad_lines to issue warnings about bad records
  data = pd.read_csv("vt_tax_data_2016_corrupt.csv",
                     error_bad_lines=False,
                     warn_bad_lines=True)

  # View first 5 records
  print(data.head())

except pd.errors.ParserError:
    print("Your data contained rows that could not be parsed.")

##**Excel Files**

* pd.read_excel
* nrows
* skiprows
* usecols - name, positional number,function or letter (e.g. A:P)


###**Multiple Sheets**

* sheet_name - string, 0 indexed position numbers, list
* any other arguments apply to all sheets


###**Load all sheets**

* sheet_name=None - outputs dictionary
* keys - sheet names
* values  - dataframes for each sheet
* create empty df and itearte through dict
* add columns for keys
* add dict to concat function

In [ ]:
import pandas as pd

col_string = 'A:H'
data_types = {'A': 'int64'}

survey_data = pd.read_excel(free_code_camp_url,
                            skiprows=2,
                            usecols=col_string)

survey_data.head(1)

,Age,AttendedBootcamp,BootcampFinish,BootcampLoanYesNo,BootcampName,BootcampRecommend,ChildrenNumber,CityPopulation
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million"

In [ ]:
# load sheet 1 with index no.
survey_data_sheet1 = pd.read_excel(free_code_camp_url,
                                   sheet_name=1)

# load sheet 2 with name
survey_data_sheet2 = pd.read_excel(free_code_camp_url,
                                   sheet_name='2017')

# check if they are equal
print(survey_data_sheet1.equals(survey_data_sheet2))

True

In [ ]:
# load all sheets
survey_data_all = pd.read_excel(free_code_camp_url,
                               sheet_name=None)

# check type
print(type(survey_data_all))

# iterate over dict
for key, value in survey_data_all.items():
  print(key, type(value))

# create empty df
all_responses = pd.DataFrame()

# iterate through dictionary
for sheet_name , frame in survey_data_all.items():
  # add column so we know which year data id from
  frame["Year"] = sheet_name

  # add the dataframe to all responses
  all_responses = pd.concat([all_responses, frame])

# View years in data
print(all_responses.Year.unique())
print(all_responses.head(1))

<class 'dict'>
2016 <class 'pandas.core.frame.DataFrame'>
2017 <class 'pandas.core.frame.DataFrame'>
['2016' '2017']
   FreeCodeCamp New Developer Survey Responses, 2016 Unnamed: 1 Unnamed: 2  \
0  Source: https://www.kaggle.com/freecodecamp/20...        NaN        NaN

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        NaN        NaN        NaN        NaN        NaN        NaN

  Unnamed: 9  ... Unnamed: 90 Unnamed: 91 Unnamed: 92 Unnamed: 93 Unnamed: 94  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN

  Unnamed: 95 Unnamed: 96 Unnamed: 97  Year  \
0         NaN         NaN         NaN  2016

  FreeCodeCamp New Developer Survey Responses, 2017
0                                               NaN

[1 rows x 100 columns]

## **Modifiying Imports: True / false data**
* **pandas automatically recognizes "TRUE" and 1, as True | "FALSE" and 0, as False**
* **Some datasets (survey data) can use unrecognized values, "Yes" and "No"**
* Datasets may have columns that are most accurately modeled as Boolean values
* However, pandas usually loads these as floats by default
* Since defaulting to Booleans may have undesired effect - like turning NA values into Trues
* **If you want to make a column with NA values Boolean, you can load the data, impute missing values, then re-cast the column as Boolean**

###**Customising True / False**
* dtype - Bool
* true_values = ['Yes'] - custom True values
* false_values = ['No'] - custom False values
* takes list of values to treat as True / False
* non Boolean columns not converted

###**Boolean considerations**
* are there missing values now or in future
* how will this column be used in analysis
* what would hapen if a value were incorrecly coded as True
* could data be modelled as floats or integers

##**Modifying Imports: Parsing Dates**

* datetime data type
* can be translated to string representations
* datetime columns are loaded as objects (strings) by default
* parse_dates - accepts:
  * a list of column names or numbers
  * a list containing lists of columns to combine and parse
  * a dictionary where keys are new column names and values are lists of columns to parse together

### **Non-standard dates**
* pd.to_datetime()
* dataframe and column
* format - string representation of datetime format
* %Y year 1999
* *%m month 03
* %d date 01
* %H hour 21
* %M minute 09
* %S second 05

### **Parsing non-standard dates**
* E.g. 03292016 21:27:25
* format_string = "%m%d%Y  %H:%M:%S"
* df_name['col_name'] = pd.to_datetime(df_name['col_name'], format = format_string

In [ ]:
# Load file, with Part1StartTime parsed as datetime data
survey_data = pd.read_excel(free_code_camp_url,skiprows=2,
                            parse_dates = ['Part1StartTime'])

# Print first few values of Part1StartTime
print(survey_data.Part1StartTime.head())

0   2016-03-29 21:23:13
1   2016-03-29 21:24:59
2   2016-03-29 21:25:37
3   2016-03-29 21:21:37
4   2016-03-29 21:26:22
Name: Part1StartTime, dtype: datetime64[ns]

In [ ]:
# Load file, with Part1StartTime parsed as datetime data
survey_data = pd.read_excel(free_code_camp_url,skiprows=2)

# Parse datetimes and assign result back to Part2EndTime
survey_data["Part2EndTime"] = pd.to_datetime(survey_data["Part2EndTime"], format="%Y-%m-%d %H:%M:%S")

# Print first few values of Part2EndTime
print(survey_data.Part2EndTime.head())

0   2016-03-29 21:27:25
1   2016-03-29 21:29:10
2   2016-03-29 21:28:21
3   2016-03-29 21:30:51
4   2016-03-29 21:31:54
Name: Part2EndTime, dtype: datetime64[ns]

## **Databases**

### **Connect to database**
* SQLite sqlalchemy library
* from sqlalchemy import create_engine()
  * string url
  * SqLite URL format: sqlite:///filename.db

### **Query database**
* pd.read_sql(query, engine)
  * query: String containing SL query or table to load
  * engine: Connection / database engine object

### **Load and Query a sample database**
#### load pandas and sqlalchemy create_engine
* import pandas as pd
* from sqlalchemy import create_engine

#### Create the database engine to manage connections
* engine = create_engine('sqlite:///data.db')

#### load entire weather table by table name
* weather = pd.read_sql("weather", engine)

#### OR load entire weather table with SQL
* weather = pd.read_sql("SELECT * FROM weather", engine)

#### View the tables in the database
* print(engine.table_names())

## **More comlex SQL queries**

* SELECT DISTINCT [column names] FROM [table]
* Remove duplicates - SELECT DISTINCT * FROM [table]
* SELECT COUNT(*) FROM [table]
* SELECT COUNT(DISTINCT [coumn_name] FROM [table]

## **JSON Files**

* Javascript Object Notation
* not tabular
* records don't need to have same set of attributes
* data organised into collections of objects
* objects are collections of attribute-value pairs
* nested JSON: objects within objests

### **Load JSON**

* pd.read_json
* dtype - specify data types
* orient - uncommon data layouts
* record orientation
* column orientation
* split orientation

### **Load JSON from APIs**

* requests.get(url_string)
* params - dictionary of parameters and values
* headers - dictionary of user authentication
* result: respose object containing data and metadata
* response.json () - returns just JSON data
* response.json () - returns just a dictionary
* load response.json() to df with pd.DataFrame
* read_json will not work


### **E.g. Call Yelp API**
* api_url = 'https://api.yelp.com/v3/businesses/search'

--set up parameter dictionary according to api documentation

* params = {'term' : 'bookstore','location' : 'San Francisco'}

--set up header dictionary w/ API key according to documentation

* headers = {'Authorization' : 'Bearer {}'.format(api_key)}

-- call the API
* response = requests.get(api_url, params = params, headers = headers)

-- parse the response - isolate json data from response object - required informnaton is in a list under 'businesses' key

* data = response.json()

-- load businesses data to a dataframe

* bookstores = pd.Dataframe(data['businesses'])

## **Nested JSON**

* JSONs - contain objects with attribute-value pairs
* Nested JSON - value is itself an object
* pandas.io.json
  * needs own import
* json_normalize()
  * dictionary / list of dictionaries like pd.DataFrame
  * returns flattened dataframe
  * default flattened column name pattern: attribute.nestedattribute
  * choose different seperator with sep argument

### **Load Nested JSON Data**

* from pandas.io.json import json_normalize

* api_url = 'https://api.yelp.com/v3/businesses/search'


--set up parameter dictionary according to api documentation

* params = {'term' : 'bookstore','location' : 'San Francisco'}

--set up header dictionary w/ API key according to documentation

* headers = {'Authorization' : 'Bearer {}'.format(api_key)}

-- call the API
* response = requests.get(api_url, params = params, headers = headers)

-- parse the response - isolate json data from response object - required informnaton is in a list under 'businesses' key

* data = response.json()

-- flatten data and load businesses data to a dataframe with _ seperators

* bookstores = json_normalize(data['businesses'], sep= '_')
* print(list(bookstores))


### **Deeply Nested JSON Data**

* json_normalize()
  * record_path - string/list of string attibutes to nested data
  * meta - list of other attributes to load to dataframe
  * meta_prefix - string to prefix to meta column names

#### **Load deeply nested data**

-- flatten categories data,bring in business details

* df = json_normalize(data['businesses'],
* sep = '_',
* record_path = 'categories',
* meta = ['name', 'alias', 'rating',
* ['coordinates' , 'latitude'],
* ['coordinates' ,  'longitude']],
* meta_prefix = 'biz_')

## **Combining Multiple Datasets**

### **Concatenating**
* add rows from one df to another
* pd.concat(df1, df2)
* ignore_index=True - relabel rows

### **Merging**
* combining datasets to add related columns
* datasets have key columns with common values
* pandas version of SQL join
* merge()
  * both a pandas function and a dataframe method
* df.merge() arguments
  * second dataframe to merge
  * columns to merge on
    * on if nammes are the same in both dataframes
    * left_on and right_on if key names differ
    * key columns must be same data type
* defaulkt merge(): returnds only values in both datasents
* one record for each value match
* multiple matches -= multiple records